


/* header section */

@media only screen and (max-width: 1700px) and (min-width: 481px){
     

    header nav .logo {
        margin-left: 5%;
        
    }

    header nav .fal {
        display: none;
    }

    header nav .des-menu {
        display: block;
    }

    .header-container {
         display: flex;
         height: 80vh;
         width: 100%;   
    }
   
   .header-container .header-div-4,
   .header-container .header-div-3 {
    display: block;
    
     }

     .header-container .header-div-1,
     .header-container .header-div-2 {
         display: none;
     }

     .header-container .header-div-3 .img-2 {
        float: right;
        margin-right: 10%;
        margin-top: 10%;
        height: 115%;
        width: 70%;
        
     }

     .header-container .header-div-4 h1,
     .header-container .header-div-4 p {
        margin-left: 10%;
        padding-left: 0;
    }

    .header-container .header-div-4 h1 {
        margin-top: 10%;
    }

    .header-container .header-div-4 a {
        left: 5%;
        transform: translate(-0%, -0%);
        z-index: 9999;
        
    }

    .header-container .header-div-4 hr {
         
            display: block;
            border-top: 1px solid rgb(150, 140, 140);
            width: 20%;
            margin-left: 10%;
            margin-top: 10%;  
        
    }

    .header-container .header-div-4 img {
        float: left;
        margin-top: 10%;
        width: 25%;
        
    }

    .header-container .header-div-3 .img-1 {
        /* float: right; */
        position: absolute;
        width: 25%;
        height: 70%;
        float: right;
        left: 100%;
        margin-top: -10px;
        transform: translate(-100%, -0%);
        
    }
    
}




@media only screen and (max-width: 1000px) and (min-width: 481px) {

    .header-container {
        height: 70Vh;
    }
    .header-container .header-div-3 .img-2 {
     height: 110%;
    }

    .header-container .header-div-4 h1 {
        font-size: 270%;
    }

    .header-container .header-div-4 p {
        font-size: 90%;
    }

    header nav .des-menu li {
        margin-left: 10px;
        width: 60px;
    }

    header nav .des-menu li a {
        font-size: 64%;
    }

}




/* vision */

@media only screen and (max-width: 1770px) and (min-width: 481px){
   
    .vision {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
        
    }

    .vision .col {
        width: 32%;
        text-align: left;
    }
   
    section .vision p {
        padding-left: 0;
        
    }
    
    section .section-h1 {
        text-align: left;
        margin-left: 5%;
        
    }
    section .section-hr {
        text-align: left;
        margin: 200px 0 0 5%;
        width: 10%;
        
    }

}

@media only screen and (max-width: 778px) and (min-width: 481px){
  
    section .vision p {
        font-size: 60%;
        
    }

    section .vision h4 {
        font-size: 80%;
    }

    section .section-h1 {
        font-size: 100%;
    }

    section .section-hr {
        text-align: left;
        margin: 200px 0 0 5%;
        width: 10%;
    }

    section .vision img {
        width: 40px;
        height: 40px;
    }
}


/* how it works */

@media only screen and (max-width: 1700px) and (min-width: 481px){
   
     section .how-it-works {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        overflow: hidden;
        
    }

    section .how-it-works img {
        position: absolute;
        left: 93%;
        transform: translate(-93%, -0%);
        height: 50%;
        width: 30%;
        
        
    }

    section .how-it-works a {
        position: absolute;
        float: right;
        left: 87%;
        transform: translate(-87%, -0%);
        margin-top: 150px;
        
    }

    section .how-it-works h1 {
        text-align: left;
        padding: 5% 0 0 6%;
    }

    section .how-it-works br {
        display: inline-block;
    }

}

@media only screen and (max-width: 787px) and (min-width: 481px) {
    section .how-it-works h1 {
        text-align: left;
        padding: 15% 0 0 6%;
        font-size: 120%;
    }

    section .how-it-works a {
       margin-right: -10%;
        
    }
}

/* footer */

@media only screen and (max-width: 1700px) and (min-width: 481px){
 
 
 footer .col {
     width: 23.3%;
     text-align: left;
     padding-left: 5%;   
 }

 .footer-ptrn-mob {
     display: none;
 }

 footer .socail {
     
     display: flex;
     justify-content: space-between;
     overflow: visible; 
     position: relative;
     margin-top: 20px;
 }

  footer .footer-ptrn-des {
     width: 35%;
    display: block;
    position: absolute;  
}


footer .socail-link {
    margin-right: 5%;
    
}

footer .logo {
    margin-left: 5%;
    margin-top: 2.2%;
    height: 25px;
    width: 100px;
    
}

}


@media only screen and (max-width: 600px) and (min-width: 481px) {
    footer .footer-ptrn-des {
        width: 60%;
        height: 30%;
   }


}
